.mainProd {
    flex-wrap: wrap;
}

.imge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.imge img {
    width: 98%;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
}


/* .imge p {
    z-index: 1;
} */

.allProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(156, 17, 17);
    height: 50px;
    color: white;
    margin: 10px;
    border-radius: 10px;
}

.allProducts>p>span {
    font-size: 12px;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
}